
<h2>Genre Name: <%= @genre.name %></h2>
<h3>Genre songs:
<br></br>
<h4>
<ul>
<% @genre.songs.each do |song| %>
  <%= song.name %>/h3>
  <a href="/songs/<%= song.slug %>">visit <%= song.name %></a>
<% end %>
</ul>
</h4>
<h4>
  <ul>
  <% @genre.artists.each do |artist| %>
    <li><%= artist.name %></li>
    <a href="/artists/<%= artist.slug %>">visit <%= artist.name %></a>
  <% end %>
  </ul>
</h4>
