<form action="/songs/<%=@song.slug%>" method="post">
  <label for="song_name">Name</label><br>
  <input id="Name" type="text" name="song_name" value="<%=@song.name%>"><br>
  <label for="Artist Name">Artist Name</label><br>
  <input id="Artist Name" type="text" name="artist_name" value="<%=@song.artist.name%>"><br>
  <p>Choose genres:</p>
  <% @genres.each do |genre|%>
    <input id="<%=genre.name%>" type="checkbox" name="genre_ids[]" value="<%=genre.id%>" <%= 'checked' if @song.genres.include?(genre)%>>
      <%=genre.name%>
    </input><br>
  <%end%>
  <input id="Save" type="submit" name="Save" value="Save">
</form>
